@import 'variables';

#header-container,
main {
  .post-header-title,
  .post-single-header-title {
    margin-bottom: $spacing-s;
    font-family: $font-family-special;
  }
}

main {
  .blog-disclaimer {
    background-color: $color-secondary;
    padding: $spacing-m;
    margin-bottom: $spacing-l;
    text-align: center;
  }

  .post {
    .post-header-title,
    .post-description,
    .post-content .tags,
    .categories,
    .post-content p {
      a, a:visited {
        text-decoration: none;
      }

      a:hover, a:active, a:focus {
        color: $color-grey-60;
      }
    }

    .post-image {
      width: 100%;
      margin-bottom: $spacing-s;
      margin-top: $spacing-s;

      img {
          max-height: 265px;;
          width: 100%;
          border-radius: $border-radius-l;
      }
    }

    .post-header-title,
    .post-single-header-title {
      text-align: center;
     
      a {
        font-size: $font-size-header;
      }
    }

    .post-single-header-title {
      font-size: $font-size-display;
    }
  
    .post-header {
      text-align: center;

      .date {
        font-family: $font-family-italic;
        font-size: $font-size-text-small;
      }

      .categories {
        .tags {
          font-size: $font-size-text-small;
          color: $color-grey-80;
        }
      }
    }

    .post-description {
      margin-bottom: $spacing-s;
    }

    .post-button {
      margin-bottom: $spacing-xl;
      display: inline-flex;
      text-align: center;
      width: 100%;
    }

    /* single post entry */
    .post-content {
      margin-bottom: $spacing-xl;

      p {
        margin-bottom: $spacing-m;

        &.lead {
          margin-bottom: $spacing-xl;
          color: $color-grey-80;
          font-family: $font-family-italic;
          font-size: $font-size-text;
        }
      }

      .tags {
        margin-top: $spacing-m;

        span {
          font-family: $font-family-medium;
        }
       }       
    }
  }

  .first-entry .post-image img {
    max-height: 500px;
  }

  .post-thumb {
    margin-top: $spacing-s;
    margin-bottom: $spacing-m;
    width: 100%;
  }

  .sidebar-widget {
    margin-bottom: $spacing-xl;

    .tagcloud {
      margin-bottom: $spacing-s;

      a {
        margin: 0 $spacing-s $spacing-s 0;
        display: inline-block;
        float: left;
      }

      &.categories {
        display: grid;
      }

      &.tags {
        display: block;
      }
    }

    .related-post {
      margin-bottom: $spacing-xl;
      text-align: center;
    }

    #filterSelect {
      width: 100%;
      height: auto;
      border-color: $color-grey-40;
      color: $color-grey-90;
      padding: $spacing-s $spacing-xl $spacing-s $spacing-m;
    }

    .search {
      #search-input {
        padding: $spacing-s $spacing-m;
        border: 1px solid $color-grey-40;
        border-radius: $border-radius-s;
        color: $color-grey-80;
        width: 100%;
  
        &:not(:valid) ~ .close-icon {
          display: none;
        }
      }
  
      .close-icon {
        position: absolute;
        padding: 0;
        border-color: transparent;
        vertical-align: middle;
      }

      .close-icon:after {
        content: "X";
        width: $spacing-l;
        height: $spacing-l;
        position: absolute;
        background-color: $color-secondary;
        z-index:1;
        right: $spacing-m;
        top: $spacing-s;
        border-radius: 50%;
        text-align: center;
        color: $color-grey-100;
        cursor: pointer;
      }
    }
  }
}

@media(min-width: 768px) {
  main .sidebar-widget #filterSelect {
      width: auto;
  }
}

@media(min-width: 992px) {
  main {
    .post {
      .post-button {
        width: auto;
      }

      .categories {
        display: block;
  
        .ghost-button {
          width: auto;
          display: inline-block;
        }
      }
    }
  }
}
