@import 'variables';

main {
  .sidebar-widget {  
    .link-list {
      margin-bottom: $spacing-m;
      padding: 0;
      list-style: none;
    }

    .tagcloud {
      display: block;
      margin-bottom: $spacing-s;

      a {
        margin: 0 $spacing-s $spacing-s 0;
        display: inline-block;
        float: left;
      }
    }
  }

  .post {
    .post-header .post-header-title,
    .post-description,
    .post-content .tags {
      a, a:visited {
        text-decoration: none;
      }

      a:hover, a:active, a:focus {
        color: $color-grey-60;
      }
    }

    .post-image {
      width: 100%;
      margin-bottom: $spacing-s;

      img {
          max-height: 265px;;
          width: 100%;
          border-radius: $border-radius-l;
      }
    }
  
    .post-header {
      text-align: center;

      .post-header-title {
        margin-bottom: $spacing-s;
        font-family: $font-family-special;

        a {
          font-size: $font-size-header;
        }
      }

      .date {
        font-family: $font-family-italic;
        font-size: $font-size-text-small;
      }
    }

    .categories {
      //margin-bottom: $spacing-s;
      display: grid;

      .ghost-button {
        width: 100%;
        margin-bottom: $spacing-s;
      }
    }

    .post-description {
      margin-bottom: $spacing-s;
    }

    .post-button {
      margin-bottom: $spacing-xl;
      display: inline-flex;
      text-align: center;
      width: 100%;
    }

    /* single post entry */
    .post-content {
      p {
        margin-bottom: $spacing-s;

        &.lead {
          margin-bottom: $spacing-m;
          color: $color-grey-70;
          //font-family: $font-family-italic;
          font-size: $font-size-text;
        }
      }

      .tags {
        margin-top: $spacing-m;

        span {
          font-family: $font-family-medium;
        }
       }       
    }
  }

  .first-entry .post-image img {
    max-height: 500px;
  }
}

@media(min-width: 992px) {
  main {
    .post {
      .post-button {
        width: auto;
      }

      .categories {
        display: block;
  
        .ghost-button {
          width: auto;
          display: inline-block;
        }
      }
    }
  }
}
