@import 'variables';

main {
  #sidebar {  
    .link-list {
      margin-bottom: $spacing-m;
      padding: 0;
      list-style: none;
    }

    .tagcloud {
      display: block;
      margin-bottom: $spacing-s;

      a {
        margin: 0 $spacing-s $spacing-s 0;
        display: inline-block;
        float: left;
      }
    }
  }

  .post {
    .post-header .post-header-title,
    .post-meta .categories,
    .post-description {
      a, a:visited {
        text-decoration: none;
      }

      a:hover, a:active, a:focus {
        color: $color-grey-60;
      }
    }
  
    .post-header .post-header-title {
      margin-bottom: $spacing-s;

      a {
        font-size: $font-size-header;
      }
    }

    .post-meta {
      margin-bottom: $spacing-s;
    }

    .post-description {
      margin-bottom: $spacing-s;
    }

    .post-button {
      margin-bottom: $spacing-xl;
      display: inline-flex;
    }
  }
}

/* tags */
.post .post-content .tags {
 margin-top: 18px;
 font-family: notosans-regular, sans-serif;
}
.post .post-content .tags a { font-family: notosans-bold, sans-serif; }

/* bio */
.post .bio {
  margin-top: 30px;
  padding-top: 30px;
  padding: 36px;
  background: #EFF1F0;

 border-radius: 3px;
}
.post .bio .gravatar {
  width: 16.66667%;
  float: left;
  width: 72px;
  height: 72px;
}
.post .bio .gravatar img {
  margin-top: 12px;
 border-radius: 100%;
}
.post .bio .about {
  width: 78%;
  float: right;
}
.post .bio .about h5 {
  font: 18px/30px notosans-bold, sans-serif;
  margin-bottom: 6px;
}
