@import 'variables';
@import 'header';
@import 'footer';

@import 'blog';
@import 'singlepage';

/* partials */
@import 'goToTop';
@import 'pagination';
@import 'sidebar';
// @import 'comments';

body {
    font-family: $font-family;
    color: $color-grey-90;
}

h1, h1 a {
    font-size: $font-size-h1;
}

h2, h3 {
    font-size: $font-size-h2;
}

h4 {
    font-size: $font-size-text;
    font-family: $font-family-medium;
}

p, a {
    font-size: $font-size-text;
}

strong {
    font-family: $font-family-medium;
}

a, a:visited, li a, li a:visited {
    color: $color-grey-90;
}

li:hover a, li:active a, li a:hover, li a:active { 
    color: $color-grey-60;
    text-decoration: none;
}

.button {
    padding: $spacing-s $spacing-m;

    border-radius: $border-radius-xl;
    background: $color-secondary;
    color: $color-grey-100;

    text-align: center;
    width: 100%;

    &:hover {
        color: $color-white;
        background: $color-secondary-darker;
        text-decoration: none;
    }
}

.ghost-button {
    padding: $spacing-s $spacing-m;
    margin-right: $spacing-s;

    border-radius: $border-radius-xl;
    border: 1px solid $color-secondary;
    color: $color-grey-100;

    &:hover, &:active {
        color: $color-white;
        background: $color-secondary-darker;
        text-decoration: none;
    }
}

/* custom styling for the cookie consent message */
.cc-revoke {
    display: none;
}

/* header container */
#header-container {
    margin-top: $header-height;
    padding-top: $spacing-xl;

    h1 {
        font-size: $font-size-display;
        margin: 0;
        padding-bottom: $spacing-xl;
        text-align: center;
    }
}

/* main content */
main {
    .post .post-thumb img,
    .post-thumb img,
    img {
        height: auto;
        max-width: 100%;
        object-fit: cover;
        border-radius: $border-radius-l;
    }

    .post .post-content,
    .page-content {
        p a, p a:visited,
        a, a:visited,
        li a, li a:visited {
            color: $color-secondary-evenDarker;
            text-decoration: none;
        }

        p a:hover, p a:active, p a:focus,
        li a:hover, li a:active, li a:focus {
            color: $color-secondary;
        }
    }
}

.custom-line {
    background-color: $color-secondary;
    border-radius: $border-radius-s;
    height: $line-size-m;
    text-align: center;
    margin: $spacing-l 0;

    #hexagon {
        width: 20px;
        height: $line-size-m;
        background: $color-secondary;
        position: relative;
        margin: 0 auto;
    
        &:before {
            content: "";
            position: absolute;
            top: -$border-radius-l;
            left: 0;
            width: 0;
            height: 0;
            border-left: $border-radius-l solid transparent;
            border-right: $border-radius-l solid transparent;
            border-bottom: $border-radius-l solid $color-secondary;
        }
        
        &:after {
            content: "";
            position: absolute;
            bottom: -$border-radius-l;
            left: 0;
            width: 0;
            height: 0;
            border-left: $border-radius-l solid transparent;
            border-right: $border-radius-l solid transparent;
            border-top: $border-radius-l solid $color-secondary;
        }
    }
}
