/* Princess Sofia */
@font-face {
  font-family: 'princess-sofia';
  src: url('/fonts/PrincessSofia-Regular.ttf');
  src: url('/fonts/PrincessSofia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Roboto */
@font-face {
  font-family: 'opensans-bold';
  src: url('/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-bolditalic';
  src: url('/fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-italic';
  src: url('/fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-regular';
  src: url('/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-medium';
  src: url('/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
