@import 'variables';

footer {
  background-color: $color-grey-10;

  .footer-nav, .footer-social, .copyright {
    margin: 0;
    padding: $spacing-m 0;
    text-align: center;

    li {
      display: inline;
    }
  }

  .footer-nav, .footer-social {
    li {
      margin-right: $spacing-m;
      margin-left: $spacing-m;
    }
  }

  .footer-nav li {
    a, a:visited {
      font-family: $font-family-medium;
      font-size: $font-size-h2;
    }
  }
  
  .footer-social li {
    a, a:visited {
      font-size: $font-size-h1;
    }
  }

  .copyright {
    border-top: $line-size solid $color-secondary;
  }
}
