@import 'variables';

footer {
  background-color: $color-grey-10;

  .footer-nav, .footer-social, .copyright {
    margin: 0;
    padding: $spacing-m 0;
    text-align: center;

    li {
      display: inline;
    }
  }

  .footer-nav, .footer-social {
    li {
      margin-right: $spacing-m;
      margin-left: $spacing-m;

      a, a:visited {
        color: $color-grey-100;
      }

      &:hover a, &:active a, & a:hover, & a:active { 
        color: $color-grey-60;
      }
    }
  }

  .footer-nav li {
    a, a:visited {
      font-family: $font-family-bold;
      font-size: $font-size-h2;
      text-decoration: none;
    }
  }
  
  .footer-social li {
    a, a:visited {
      font-size: $font-size-h1;
    }
  }

  .copyright {
    border-top: $border-size solid $color-secondary;
  }
}
