@import 'variables';

#go-top {
  position: fixed;
  bottom: 0px;
  right: $spacing-l;

  a, a:visited {
    display: block;
    background-color: $color-secondary;
    color: $color-grey-100;
   
    &:hover, &:active { 
      background-color: $color-secondary-darker; 
    }

    i {
      padding: $spacing-m $spacing-m;
      font-size: $font-size-h2;
    }
  }
}
