@import 'variables';

#header-container {
    .home-title {
        padding-bottom: $spacing-m;
    }

    .home-title {
        font-family: $font-family-special;
    }

    .home-content {
        margin-top: $spacing-m;
        margin-bottom: $spacing-xxl;

        .welcome-content {
            margin-bottom: $spacing-s;
        }
    }
}

main {
    .blog-post-widget {
        margin-bottom: $spacing-xl;
    }

    .home-widget-title {
        font-family: $font-family-special;
        font-size: $font-size-header;
        text-align: center;
        padding-bottom: $spacing-s;
        margin-bottom: $spacing-m;
        border-bottom: $line-size-s solid $color-secondary;
    }

    .social-media-widget {
        margin-bottom: $spacing-m;

        .social-media-item {
            margin-bottom: $spacing-m;
            display: none;

            .instagram-item {
                height: 500px;
                overflow: scroll;
            }

            .facebook-item {
                max-width: 100%;
                overflow: hidden;
            }
        }
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    main .home-blog-listitem .post-image img {
        height: 320px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    main .home-blog-listitem .post-image img {
        height: 320px;
    }
}

@media(min-width: 768px) and (max-width: 1199px) {
    main { 
        .home-blog-listitem:last-of-type {
            display: none;
        }

        .social-media-widget .social-media-item .youtube {  
            display: none !important;
        }
    }
}

@media(min-width: 1200px) {
    main .home-blog-listitem:last-of-type {
        display: block;
    }
}
