@import 'variables';

main {
    .links-content {
        h2 {
            font-family: $font-family-special;
            font-size: $font-size-h1;
            text-align: center;
        }
    
        .post-thumb {
            margin-bottom: $spacing-xl;
        }
    }
}
