@import 'variables';

.pagination {
   margin-bottom: $spacing-l;

   ul li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .page-numbers {
        padding: $spacing-s $spacing-m;
        margin-right: $spacing-s;

        display: inline-block;
        color: $color-grey-100;
        background-color: $color-secondary;
        border-radius: $border-radius-s;

        &:hover,
        &.current,
        &.current:hover {
            background: $color-secondary-darker;
            color: $color-white;
        }
    }
}
