@import 'variables';

main {
  .sidebar-widget {
    .tagcloud {
      display: block;
      margin-bottom: $spacing-s;

      a {
        margin: 0 $spacing-s $spacing-s 0;
        display: inline-block;
        float: left;
      }
    }
  }
}
