@import 'variables';

main .sidebar-widget {  
    .socials a, .socials a:visited {
        color: $color-grey-100;
        text-decoration: none;

        &:hover, &:active {
            color: $color-grey-60;
        }
    }
  }
