@import 'variables';

main {
    .page-content {
        margin-bottom: $spacing-xl;

        h2:not(:first-child) {
            margin-top: $spacing-xl;
        }

        h3 {
            margin-top: $spacing-l;
        }
    }

    .sidebar-widget {  
        .socials a, .socials a:visited {
            color: $color-grey-100;
            text-decoration: none;

            &:hover, &:active {
                color: $color-grey-60;
            }
        }
    }

    .instagram-content {
        h2 {
            font-family: $font-family-special;
            font-size: $font-size-h1;
            text-align: center;
        }
    
        p img {
            margin-bottom: $spacing-xl;
        }
    }
}
