@import 'fonts';

/* color palette */
$color-white: #fff;

$color-grey-100: #191D1F;
$color-grey-90: #3C3F41;
$color-grey-80: #535657;
$color-grey-70: #6A6C6D;
$color-grey-60: #8C8E8F;
$color-grey-50: #BABBBC;
$color-grey-40: #D1D2D2;
$color-grey-30: #DDDDDD;
$color-grey-20: #E8E8E9;
$color-grey-10: #F4F4F4;

$color-secondary: #EDDCAC;
$color-secondary-darker: #D4C49B;

/* font family */
$font-family: opensans-regular, sans-serif;
$font-family-bold: opensans-bold;
$font-family-medium: opensans-medium;
$font-family-italic: opensans-italic;
$font-family-bold-italic: opensans-bolditalic;

$font-family-special: princess-sofia;

/* font size */
$font-size-display: 42px;
$font-size-header: 34px;
$font-size-h1: 28px;
$font-size-h2: 21px;
$font-size-text: 16px;
$font-size-text-small: 14px;

/* spacing */
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;

/* border radius */
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 12px;
$border-radius-xl: 16px;

/* line sizes */
$line-size-s: 2px;
$line-size-m: 4px;

/* specials */
$header-height: 80px;
$logo-height: 64px;
