$color-background: #fff;

$color-grey-100: #191D1F;
$color-grey-90: #3C3F41;
$color-grey-80: #535657;
$color-grey-70: #6A6C6D;
$color-grey-60: #8C8E8F;
$color-grey-50: #BABBBC;
$color-grey-40: #D1D2D2;
$color-grey-30: #DDDDDD;
$color-grey-20: #E8E8E9;
$color-grey-10: #F4F4F4;

$color-secondary: #EDDCAC;

$font-family: notosans-regular, sans-serif;
$font-size-h1: 28px;
$font-size-h2: 21px;
$font-size-text: 16px;
$font-size-text-small: 12px;

$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;

$header-height: 80px;
$header-border: 4px;
