/*
=====================================================================

*   Sparrow v1.0.1 Layout Stylesheet
*   url: styleshout.com
*   03-05-2014

=====================================================================

   TOC:
   a. Common Styles.
   c. Intro Section - Main Page.
   d. Info Section - Main Page.
   e. Works Section - Main Page.
   f. Journal Section - Main Page.
   g. Call-To-Action Section - Main Page.
   h. Tweets Section - Main Page.
   i. Blog.
   j. Porfolio.
   l. Contact.

===================================================================== */


/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }


/* FlexSlider Intro Slider Styles */
.slides {
   overflow: hidden;
   position: relative;
}
.slider-text {
	color: #b4a9a9;
   width: 90%;
   text-align: center;
   margin: 60px auto 36px auto;
}
.slider-text h1 {
   font: 50px/60px raleway-bold, sans-serif;
   color: #fff;
   padding: 0;
   margin: 0 0 18px 0;
   text-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
}
.slider-text h1 span,
.slider-text a { color: #11ABB0; }
.slider-text p {
   font: 17px/36px notosans-regular, sans-serif;
   padding: 0;
   margin: 12px 8% 0;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}
.slider-image {
   width: 90%;
   margin: 0 auto;
}
.slides li img {
   vertical-align: bottom;
   display: block;
}

/* Direction Navigation
--------------------------------------------------------------- */
.flex-direction-nav a {
   display: block;
	width: 40px;
	height: 66px;
	margin: -33px 0 0 0;
	background-color: #1f2024;
	cursor: pointer;
	z-index: 99999;
	opacity: 0;
   position: absolute;
	top: 50%;

   /* hide text */
   font: 0/0 a;
   text-shadow: none;
   color: transparent;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.flex-direction-nav a:hover { background-color: #0F9095; }

.flex-direction-nav .flex-next {
	right: 0px;
	background: #1f2024 url(../images/direction-nav-right.png) no-repeat 47% 50%;
	position: absolute;

	border-radius: 3px 0 0 3px;
}
.flex-direction-nav .flex-prev {
	left: 0px;
	background: #1f2024 url(../images/direction-nav-left.png) no-repeat 53% 50%;
	position: absolute;

	border-radius: 0 3px 3px 0;
}
.flexslider:hover .flex-next,
.flexslider:hover .flex-prev { opacity: 1; }
.flex-direction-nav .flex-disabled {
   opacity: .3 !important;
   filter: alpha(opacity=30);
   cursor: default;
}


/* ------------------------------------------------------------------ */
/* d. Info Section - Main Page
/* ------------------------------------------------------------------ */

#info {
   background-color: #fff;
   padding-top: 60px;
   padding-bottom: 42px;
}
#info h2 {
  font: 18px/30px notosans-bold, sans-serif;
  color: #11ABB0;
  margin-bottom: 6px;
}
#info p {
  font-size: 15px;
  line-height: 30px
}



/* ------------------------------------------------------------------ */
/* i. Blog
/* ------------------------------------------------------------------ */

.post {
   padding-top: 24px;
   padding-bottom: 18px;
}
.post .entry-header {
   position: relative;
   width: 100%;
}
.post .entry-header h1 {
   font: 39px/48px raleway-semibold, sans-serif;
   margin-bottom: 18px;
}
.post .entry-header h1 a,
.post .entry-header h1 a:visited { color: #313131; }
.post .entry-header h1 a:hover,
.post .entry-header h1 a:focus { color: #11ABB0; }

.post .post-meta {
   font: 15px/24px notosans-regular, sans-serif;
}
.post .post-meta a,
.post .post-meta a:visited { color: #AFB4BB; }
.post .post-meta a:hover,
.post .post-meta a:focus { color: #11ABB0; }

.post .post-meta .date {
   display: inline-block;
   font: 15px/24px notosans-bold, sans-serif;
   color: #313131;
}
.post .post-meta .categories {
   display: inline-block;
}
.post .post-meta .categories a { display: inline-block; }


/* post image */
.post .post-thumb {
   margin: 6px 0 18px 0;
   width: 100%;
}

.post .post-thumb img,
.post-thumb img {
   height: 246px;
   width: 100%;
   object-fit: cover;
}

/* post content */
.post .post-content {
   margin-bottom: 18px;
}

/* tags */
.post .post-content .tags {
  margin-top: 18px;
  font-family: notosans-regular, sans-serif;
}
.post .post-content .tags a { font-family: notosans-bold, sans-serif; }

/* bio */
.post .bio {
   margin-top: 30px;
   padding-top: 30px;
   padding: 36px;
   background: #EFF1F0;

	border-radius: 3px;
}
.post .bio .gravatar {
   width: 16.66667%;
   float: left;
   width: 72px;
   height: 72px;
}
.post .bio .gravatar img {
   margin-top: 12px;
	border-radius: 100%;
}
.post .bio .about {
   width: 78%;
   float: right;
}
.post .bio .about h5 {
   font: 18px/30px notosans-bold, sans-serif;
   margin-bottom: 6px;
}

/* post-nav */
.post-nav {
   margin: 24px 0;
   padding: 30px 0 0 0;
   border-top: 1px solid #E0E0E0;
   font: 16px/30px notosans-regular, sans-serif;
}
.post-nav li {
   display: inline-block;
   margin: 0;
   padding: 0;
   width: 49%;
   line-height: 30px;
}
.post-nav li a { color: #9FA5AD;  }
.post-nav li a:hover { color: #313131; }
.post-nav li strong {
   font: 16px/30px raleway-heavy, sans-serif;
   text-transform: uppercase;
   color: #11ABB0;
   letter-spacing: 0.5px;
   display: block;
}
.post-nav li.next {
   float: right;
   text-align: right;
}
.post-nav li.prev {
   float: left;
   text-align: left;
}
