/*
=====================================================================

*   Sparrow v1.0.1 Layout Stylesheet
*   url: styleshout.com
*   03-05-2014

=====================================================================

   TOC:
   a. Common Styles.
   c. Intro Section - Main Page.
   d. Info Section - Main Page.
   e. Works Section - Main Page.
   f. Journal Section - Main Page.
   g. Call-To-Action Section - Main Page.
   h. Tweets Section - Main Page.
   i. Blog.
   j. Porfolio.
   l. Contact.

===================================================================== */


/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }


/* FlexSlider Intro Slider Styles */
.slides {
   overflow: hidden;
   position: relative;
}
.slider-text {
	color: #b4a9a9;
   width: 90%;
   text-align: center;
   margin: 60px auto 36px auto;
}
.slider-text h1 {
   font: 50px/60px raleway-bold, sans-serif;
   color: #fff;
   padding: 0;
   margin: 0 0 18px 0;
   text-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
}
.slider-text h1 span,
.slider-text a { color: #11ABB0; }
.slider-text p {
   font: 17px/36px notosans-regular, sans-serif;
   padding: 0;
   margin: 12px 8% 0;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}
.slider-image {
   width: 90%;
   margin: 0 auto;
}
.slides li img {
   vertical-align: bottom;
   display: block;
}

/* Direction Navigation
--------------------------------------------------------------- */
.flex-direction-nav a {
   display: block;
	width: 40px;
	height: 66px;
	margin: -33px 0 0 0;
	background-color: #1f2024;
	cursor: pointer;
	z-index: 99999;
	opacity: 0;
   position: absolute;
	top: 50%;

   /* hide text */
   font: 0/0 a;
   text-shadow: none;
   color: transparent;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.flex-direction-nav a:hover { background-color: #0F9095; }

.flex-direction-nav .flex-next {
	right: 0px;
	background: #1f2024 url(../images/direction-nav-right.png) no-repeat 47% 50%;
	position: absolute;

	border-radius: 3px 0 0 3px;
}
.flex-direction-nav .flex-prev {
	left: 0px;
	background: #1f2024 url(../images/direction-nav-left.png) no-repeat 53% 50%;
	position: absolute;

	border-radius: 0 3px 3px 0;
}
.flexslider:hover .flex-next,
.flexslider:hover .flex-prev { opacity: 1; }
.flex-direction-nav .flex-disabled {
   opacity: .3 !important;
   filter: alpha(opacity=30);
   cursor: default;
}


/* ------------------------------------------------------------------ */
/* d. Info Section - Main Page
/* ------------------------------------------------------------------ */

#info {
   background-color: #fff;
   padding-top: 60px;
   padding-bottom: 42px;
}
#info h2 {
  font: 18px/30px notosans-bold, sans-serif;
  color: #11ABB0;
  margin-bottom: 6px;
}
#info p {
  font-size: 15px;
  line-height: 30px
}
