{{ define "header" }}
  {{ partial "page-title.html" . }}
{{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-xs-12 col-sm-12">
    {{ with .Params.featured_image -}}
    <div class="post-thumb">
      <img src="{{ . | absURL }}" alt="post-image" title="post-image">
    </div>
    {{ end }}

    {{ $current := . }}
    {{ $current = (eq .Title "Instagram") }}
    <div class="{{ if $current }}instagram-content{{ else }}page-content{{ end }}">
      {{ .Content }}
      {{ with .Params.privacyOptOut -}}
        <a id="privacyOptOut" href="javascript:gaOptout()">{{ . }}</a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
