{{ define "header" }}
  {{ partial "page-title.html" . }}
{{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-xs-12 col-sm-12 instagram-content">
    {{ range (where .Site.RegularPages "Type" "blog") }}
    <div>
      <a href="{{ .Permalink }}">
        <h2>{{ .Title }}</h2>
        {{ with .Resources.ByType "image" }}
          {{ range . }}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
          {{ end }}
        {{ end }}
      </a>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
