{{ define "header" }}
  {{ partial "page-title.html" . }}
{{ end }}

{{ define "main" }}
<div class="row about-page">
  {{ $data := index .Site.Data .Site.Language.Lang }}

  {{ if $data.about.us.enable }}
  {{ with $data.about.us }}

    {{ range $i,$p := $data.about.us.item }}
      <div class="col-xs-12 col-sm-12 col-md-6 {{ if not (modBool $i 2) }}showMobile{{ end }}">
        <div class="post-thumb">
          <img src="{{ .image | absURL }}" alt="post-image" title="post-image">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="about-content">
          <h2>{{ .title | markdownify }}</h2>
          {{ partial "customLine.html" . }}
          {{ .content | markdownify }}
        </div>
      </div>
      {{ if not (modBool $i 2) }}
        <div class="col-md-6 {{ if not (modBool $i 2) }}showDesktop{{ end }}">
          <div class="post-thumb">
            <img src="{{ .image | absURL }}" alt="post-image" title="post-image">
          </div>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
  {{ end }}
</div>
{{ end }}
