/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */
header {
	background-color: #383232;
	padding-bottom: 15px;
	padding-top: 15px;
}

header .nav-item .nav-link {
	color: #8a8383;
}

header .nav-item:hover .nav-link {
	color: #ffffff;
}

/* navbar toggler */
header .navbar-toggler {
	padding: 17px 17.5px;
	margin: 0;
	background-color: #11ABB0;
	border-color: #11ABB0;
}

/* header logo */
header .navbar-brand {
	height: 48px;
	padding: 0;
}

header .navbar-brand .logo {
   height: 48px;
}
