{{- with $author := index (.context.Site.Data.authors | default dict) .author -}}
  {{- $author_lang := index $author $.context.Site.Language.Lang | default $author -}}
  {{- $author_name := $author_lang.name.display | default $author.name.display | default $.author -}}
  {{- $author_desc := $author_lang.description | default $author.description | default $.author -}}
  {{- $author_image := $author_lang.image.url | default $author.image.url | default "images/blank-profile.png" -}}
  {{- $author_url := $author_lang.url | default $author.url -}}
  <div class="bio cf">
    <div class="gravatar">
      {{- with $author_url -}}
        <a href="{{ $author_url | relLangURL }}"><img src="{{ $author_image | relURL }}" alt="{{ $author_name }}" /></a>
      {{- else -}}
        <img src="{{ $author_image | relURL }}" alt="" />
      {{- end -}}
    </div>
    <div class="about">
        <h5><a title='{{ i18n "author" }}' href="{{ $author_url }}" rel="author">{{ $author_name }}</a></h5>
        <p>{{ $author_desc | markdownify }}</p>
    </div>
  </div>
{{- end -}}
