<div class="row">
  {{ if ne .Site.Language.Lang "en" }}
  <div class="col-xs-12 col-sm-12">
    <div class="blog-disclaimer">
      {{ i18n "disclaimer_blog_posts" }}
    </div>
  </div>
  {{ end }}

  <div class="col-xs-12 col-sm-4 col-md-3">
    {{ partial "blog-sidebar.html" . }}
  </div>

  <div class="col-xs-12 col-sm-8 col-md-9">
    <div class="row">
      {{- $pages := .Pages -}}
      {{- if .IsHome -}}
        {{- $pages = where .Site.RegularPages "Type" "blog" -}}
      {{- end -}}
      {{- $paginator := .Paginate $pages -}}
      
      {{ range first 1 $paginator.Pages -}}
      <div class="col-xs-12 col-sm-12 col-md-12 first-entry">
        {{ partial "blogpost-listitem.html" . }}
      </div>
      {{ end }}

      {{ range (after 1 $paginator.Pages) -}}
      <div class="col-xs-12 col-sm-12 col-md-6">
        {{ partial "blogpost-listitem.html" . }}
      </div>
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}
  </div>
</div>
