<div class="post-header">
  <time class="date" datetime="2014-01-14T11:24">{{ .Date.Format (.Site.Params.dateFormatToUse | default "Mon 02 January 2006") }}</time>
  
  <div class="categories">
    <i class="tags fas fa-tags"></i>
    {{ with .Params.categories -}}
      {{ $len := (len .) }}
      {{ range $index, $element := . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "taxonomy" (printf "/categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "/categories/%s" ($name | urlize))) -}}
          <a href="{{ .Permalink }}">{{ $name }}</a>{{ if ne (add $index 1) $len }}, {{ end }}
        {{- end -}}
      {{ end }}
    {{ end }}

    {{ with (and .Params.tags .Params.categories) -}} | {{ end }}

    {{ with .Params.tags -}}
      {{ $len := (len .) }}
      {{ range $index, $element := . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "taxonomy" (printf "/tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "/tags/%s" ($name | urlize))) -}}
          <a href="{{ .Permalink }}">{{ $name }}</a>{{ if ne (add $index 1) $len }}, {{ end }}
        {{- end -}}
      {{ end }}
    {{ end }}
  </div>

  {{ partial "customLine.html" . }}
</div>
