<div class="row">
  <div class="col-xs-12 col-sm-6 sidebar-widget">
    <select class="form-control custom-select" id="filterSelect" onchange="location = this.options[this.selectedIndex].value;">
      <!-- all -->
      <option value='{{ with .Site.GetPage "home" }}{{ .Permalink }}{{ end }}'>{{ i18n "all_posts" }} ({{ len (where .Site.RegularPages "Type" "blog") }})</option>

      <!-- categories -->
      <optgroup label='{{ i18n "categories" }}'>
        {{ range .Site.Taxonomies.categories }}
        <option value="{{ .Page.Permalink }}">
          {{ .Page.Title }} ({{ .Count }})
        </option>
        {{ end }}
      </optgroup>

      <!-- tags --> 
      <optgroup label='{{ i18n "tags" }}'>
        {{ range .Site.Taxonomies.tags }}
        <option value="{{ .Page.Permalink }}">
          {{ .Page.Title }} ({{ .Count }})
        </option>
        {{ end }}
      </optgroup>
    </select>
  </div>
</div>
