<!-- categories -->
<div class="sidebar-widget showDesktop">
  <h2 class="widget-title">{{ i18n "categories" }}</h2>
  <div class="tagcloud categories">
    {{ range .Site.Taxonomies.categories }}
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a>
    {{ end }}
  </div>
</div>

<!-- tags -->
<div class="sidebar-widget showDesktop">
  <h5 class="widget-title">{{ i18n "tags" }}</h5>
  <div class="tagcloud tags clearfix">
    {{ range .Site.Taxonomies.tags }}
    <a class="ghost-button" href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a>
    {{ end }}
  </div>
</div>

<div class="sidebar-widget showMobile">
  <!--<h2 class="widget-title">{{ i18n "filter" }}</h2>-->
  <form>
    <select class="form-control custom-select" id="exampleFormControlSelect1" onchange="location = this.options[this.selectedIndex].value;">
      <!-- all 
      <option value='{{ with .Site.GetPage "home" }}{{ .Permalink }}{{ end }}'>All blogs</option>-->
      <option>{{ i18n "filter" }}</option>

      <!-- Taxonomy {{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }} -->

      <!-- categories -->
      <optgroup label='{{ i18n "categories" }}'>
        {{ range .Site.Taxonomies.categories }}
        <option value="{{ .Page.Permalink }}">
          {{ .Page.Title }} ({{ .Count }})
        </option>
        {{ end }}
      </optgroup>

      <!-- tags --> 
      <optgroup label='{{ i18n "tags" }}'>
        {{ range .Site.Taxonomies.tags }}
        <option value="{{ .Page.Permalink }}">
          {{ .Page.Title }} ({{ .Count }})
        </option>
        {{ end }}
      </optgroup>
    </select>
  </form>
</div>
