{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ if $related }}
  <div class="sidebar-widget">
    <h2 class="widget-title">{{ i18n "related_posts" }}</h2>
    {{ range $related }}
    <div class="related-post clearfix">
      <a href="{{ .Permalink }}">
        <h3 class="post-header-title">{{ .Title }}</h3>
        <img class="related-post-image" src="{{ .Params.featured_image | relURL }}" alt="{{ .Title }}">
      </a>
    </div>
    {{ end }}
  </div>
{{ else }}
  <div class="sidebar-widget">
    <h2 class="widget-title">{{ i18n "latest_posts" }}</h2>
    {{ range first 3 (where (where .Site.RegularPages "Type" "blog") "Title" "!=" .Title ) }}
    <div class="related-post clearfix">
      <a href="{{ .Permalink }}">
        <h3 class="post-header-title">{{ .Title }}</h3>
        <img class="related-post-image" src="{{ .Params.featured_image | relURL }}" alt="{{ .Title }}">
      </a>
    </div>
    {{ end }}
  </div>
{{ end }}