<script>
  var noSearchResultsTranslation = '{{ i18n "no_search_results" }}';
  var searchErrorTranslation = '{{ i18n "search_error" }}';
</script>

<div class="row">
  {{ if ne .Site.Language.Lang "en" }}
  <div class="col-xs-12 col-sm-12">
    <div class="blog-disclaimer">
      {{ i18n "disclaimer_blog_posts" }}
    </div>
  </div>
  {{ end }}

  <div class="col-xs-12 col-sm-12">
    {{ partial "blog-filter.html" . }}
  </div>

  <div class="col-xs-12 col-sm-12">
    <div class="row">
      {{- $pages := .Pages -}}
      {{- if .IsHome -}}
        {{- $pages = where .Site.RegularPages "Type" "blog" -}}
      {{- end -}}
      {{- $paginator := .Paginate $pages -}}
      
      {{ range first 2 $paginator.Pages -}}
      <div class="col-xs-12 col-sm-12 col-md-6 first-entry">
        {{ partial "blogpost-listitem.html" . }}
      </div>
      {{ end }}

      {{ range (after 2 $paginator.Pages) -}}
      <div class="col-xs-12 col-sm-12 col-md-4">
        {{ partial "blogpost-listitem.html" . }}
      </div>
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}
  </div>
</div>
