<script src="{{ "js/" | absURL }}{{ "cookieconsent.min.js" }}" data-cfasync="false"></script>
<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
            "background": "#544a4a",
            "text": "#e4e2e2"
            },
            "button": {
            "background": "#11abb0"
            }
        },
        "theme": "classic",
        "type": "opt-in",
        "content": {
            "message": '{{ i18n "cookie_message" }}',
            "deny": '{{ i18n "cookie_dismiss" }}',
            "allow": '{{ i18n "cookie_allow" }}',
            "link": '{{ i18n "cookie_link" }}',
            "href": '{{ "privacy" | safeURL }}'
        },
        onInitialise: initialise,
        onStatusChange: statusChange
    });

    function initialise(status) {
        var type = this.options.type
        if (type === 'opt-in' && status === 'allow') {
            activateTemplate('#cookieConsent')
        } else {
            disableGoogleAnalytics();
        }
    }

    function statusChange(status, chosenBefore) {
        var type = this.options.type;
        if (type === 'opt-in' && status === 'allow') {
            activateTemplate('#cookieConsent')
        } else {
            disableGoogleAnalytics();
        } 
    }

    // does the browser support <template>? (all but legacy IE)
    function supportsTemplate() {
        return 'content' in document.createElement('template')
    }

    function activateTemplate(selector) {
        if (supportsTemplate) {
            var content = document.querySelector(selector).content;
            var clone = document.importNode(content, true);
            document.body.appendChild(clone);
        } else {
            enableGoogleAnalytics();
        }
    }

    function enableGoogleAnalytics() {
        // check the do not track option from the browser
        var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
        var doNotTrack = (dnt == "1" || dnt == "yes");
        if (!doNotTrack) {
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        if (window.sessionStorage) {
            var GA_SESSION_STORAGE_KEY = 'ga:clientId';
            ga('create', 'UA-154765901-1', {
                'storage': 'none',
                'clientId': sessionStorage.getItem(GA_SESSION_STORAGE_KEY)
            });
            ga(function(tracker) {
                sessionStorage.setItem(GA_SESSION_STORAGE_KEY, tracker.get('clientId'));
            });
        }
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
        }
    }

    function disableGoogleAnalytics() {
        // Disable tracking if the opt-out cookie exists.
        var gaProperty = '{{ .Site.GoogleAnalytics }}';
        var disableStr = 'ga-disable-' + gaProperty;
        if (document.cookie.indexOf(disableStr + '=true') > -1) {
            window[disableStr] = true;
        } else {
            document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
            window[disableStr] = true;
        }
    }
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
