<footer>
  <div class="row">
    <div class="twelve columns">
      <ul class="footer-nav">
        {{ if .Site.Menus.links }}
          {{ range .Site.Menus.links }}
            <li><a href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}.</a></li>
          {{ end }}
        {{ end }}
      </ul>
      <ul class="footer-social">
        {{ if .Site.Menus.social }}
          {{ range .Site.Menus.social }}
          <li>
            <a href="{{ .URL | safeURL }}">{{ .Pre }}</a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
      <ul class="copyright">
        <li>
          Copyright &copy; {{ $current := now.Format "2006" -}}
          {{ if and .Site.Params.since (ne .Site.Params.since $current) }}
            {{ .Site.Params.since }} -
          {{ end }}
          {{- $current }}
          {{ .Site.Author.name }}.
          {{if .Site.Copyright }}
            {{ .Site.Copyright | safeHTML }}
          {{ end }}
        </li> 
        <li>Design by <a href="http://www.styleshout.com/" target="_blank">Styleshout</a></li>
      </ul>
    </div>
    <div id="go-top" style="display: block;"><a title="Back to Top" href="#"><i class="fas fa-chevron-up"></i>Go To Top</a></div>
  </div>
</footer>
