<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <ul class="footer-nav">
          {{ if .Site.Menus.links }}
            {{ range .Site.Menus.links }}
              <li><a href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ul class="footer-social">
          {{ if .Site.Params.social }}
            {{ range .Site.Params.social }}
            <li>
              <a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}"></i></a>
            </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12">
        <ul class="copyright">
          <li>
            Copyright &copy; {{ $current := now.Format "2006" -}}
            {{ if and .Site.Params.since (ne .Site.Params.since $current) }}
              {{ .Site.Params.since }} -
            {{ end }}
            {{- $current }}
            {{ .Site.Author.name }}.
            {{if .Site.Copyright }}
              {{ .Site.Copyright | safeHTML }}
            {{ end }}
          </li> 
        </ul>
      </div>
      <div id="go-top">
        <a title="Back to Top" href="#">
          <i class="fas fa-chevron-up"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
