<header class="navbar-expand-md fixed-top">
  <div class="container">
    <div class="navbar navbar-container">
      {{ with .Site.GetPage "home" }}
        <a class="navbar-brand" href="{{ .Permalink }}">
          {{ with .Site.Params.siteLogoImage }}
            <img class="logo" alt="logo" src="{{ . | absURL }}" />
          {{ end }}
        </a>
      {{ end }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          {{ $current := . }}
          {{ range $index, $menuItem := .Site.Menus.main }}
          {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
          {{ $active = or $active (eq .Name $current.Title) }}
          {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog")) }}
          {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "categories")) }}
          {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "tags")) }}
          {{ $active = or $active (and (eq .Name "About") (eq $current.Section "about")) }}

          {{ if .HasChildren }}
          <li class="nav-item {{ if $active }}active{{ end }} dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ .Name }} <i class="ion-ios-arrow-down"></i>
            </a>
            <ul class="dropdown-menu">
              {{ range .Children }}
              <li>
                <a class="nav-link" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
          </li>
          {{ else }}

          <li class="nav-item {{ if $active }}active{{ end }}">
            {{ with $menuItem.Page }}
              <a class="nav-link" href="{{ .Permalink }}">{{ with $menuItem.Pre }}{{ . | safeHTML }}{{ end }}{{ $menuItem.Name }}</a>
            {{ else }}
              {{ if hasPrefix .URL "http" }}
                <a class="nav-link" href="{{ .URL | safeURL }}">{{ with $menuItem.Pre }}{{ . | safeHTML }}{{ end }}{{ $menuItem.Name }}</a>
              {{ else }}
                <a class="nav-link" href="{{ .URL | absLangURL | safeURL }}">{{ with $menuItem.Pre }}{{ . | safeHTML }}{{ end }}{{ $menuItem.Name }}</a>
              {{ end }}
            {{ end }}
          </li>
          {{ end }}
          {{ end }}
        </ul>

        <!-- Languages -->
        {{ if .Site.Params.showMenuLanguages }}
        <ul class="navbar-nav languages">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-globe-europe"></i> {{ .Site.Language.Lang | upper }} <i class="ion-ios-arrow-down"></i>
            </a>
            <ul class="dropdown-menu">
              <!-- add all translations to the menu -->
              {{ if .IsTranslated }}
                {{ range .Translations }}
                  {{ if (eq (len .Translations) 1) }}
                    {{- $.Scratch.Set "translatedLanguage" .Language -}}
                  {{ end }}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                  </li>
                {{ end}}

                <!-- if there are more general translations than this specific side is translated, add the general website to the translation menu -->
                {{ if (gt (len .Site.Home.AllTranslations) (add (len .Translations) 1)) }}
                  {{- $.Scratch.Set "language" .Language -}}
                  {{ range .Site.Home.AllTranslations }}
                    {{ if (and (ne ($.Scratch.Get "language") .Language) (ne ($.Scratch.Get "translatedLanguage") .Language)) }}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                      </li>
                    {{ end }}
                  {{ end }}
                {{ end }}

              {{ else }}

                {{ if (gt (len .Site.Home.AllTranslations) 1) }}
                  {{- $.Scratch.Set "language" .Language -}}
                  {{ range .Site.Home.AllTranslations }}
                    {{ if (ne ($.Scratch.Get "language") .Language) }}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                      </li>
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          </li>
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</header>
