{{ define "main" }}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
    <div class="post">
      <h1 class="post-single-header-title">{{ .Title }}</h1>
      {{ partial "blogpost-header.html" . }}

      {{ with .Resources.ByType "image" }}
        {{ range . }}
          <div class="post-thumb">
            <img src="{{ .RelPermalink }}" alt="post-image" title="post-image">
          </div>
        {{ end }}
      {{ end }}

      <div class="post-content">
        <p class="lead">{{ .Description }}</p>
        <p>{{ .Content }}</p>

        {{ with .Params.info_without_guarantee -}}
        <div class="blog-disclaimer">
          {{ i18n "info_without_guarantee" }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">    
    {{ partial "blog-single-sidebar.html" . }}
  </div>
</div>
{{ end }}
