{{ define "header" }}
<div class="row">
  <div class="col-xs-12 col-sm-12">
      <h1 class="post-header-title">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="post">
      {{ partial "blogpost-header.html" . }}
       
      {{ with .Params.featured_image -}}
      <div class="post-thumb">
        <img src="{{ . | absURL }}" alt="post-image" title="post-image">
      </div>
      {{ end }}

      <div class="post-content">
        <p class="lead">{{ .Description }}</p>
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    {{ partial "sidebar.html" . }}

    {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ with $related }}
    <div class="sidebar-widget">
      <h2 class="widget-title">{{ i18n "related_posts" }}</h2>
      {{ range . }}
      <div class="related-post clearfix">
        <a href="{{ .Permalink }}">
          <h3 class="post-header-title">{{ .Title }}</h3>
          <img class="related-post-image" src="{{ .Params.featured_image | relURL }}" alt="{{ .Title }}">
        </a>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
