{{ define "header" }}
<div class="row">
  <div class="col-xs-12 col-sm-12">
      <h1 class="post-header-title">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-9">
    <div class="post">
      {{ partial "blogpost-header.html" . }}
       
      {{ with .Params.featured_image -}}
      <div class="post-thumb">
        <img src="{{ . | absURL }}" alt="post-image" title="post-image">
      </div>
      {{ end }}

      <div class="post-content">
        <p class="lead">{{ .Description }}</p>
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
